body{
    background-size: cover;
    background-image: url(../img/men.gif);
}

main {

    display: inline-block;
    width: 50%; 
    margin-top: 15%; 
    margin-left: 40%;
}
h1 {
    font-size: 35px;
    margin-left: 5%;
    color: white; 
    font-family:Arial, Helvetica, sans-serif;
}
p {
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 220px;
    margin-left: 7%;
    margin-right: auto
}